<% metaphor.forEach((meta)=>{ %>
    <div class="metaphor-default">
        <div class="card text-center mb-5">
            <div class="card-body">
                <h3 class="card-title text-left">"<%= meta.text %>"</h3>
                <p class="card-text text-left"><%= meta.explanation %></p>
            </div>
            <div class="card-footer d-flex metaphor-footer">
                <span class="text-muted mr-auto d-flex">
                    <button class="btn-vote btn-like px-0" id="like-btn"></button>
                    <%= meta.num_likes %>
                    <button class="btn-vote btn-dislike px-0 ml-2" id="dislike-btn"></button>
                    <%= meta.num_dislikes %>
                </span>
                <span class="text-muted ml-auto">Posted <%= meta.time_string %> by <a href="#"><%= meta.author %></a></span>
            </div>
        </div>
    </div>
<% }); %>